/* styles.css */
.main-title {
    /* text-align: center; */
    font-size: 2.5em;
    margin-bottom: 0.5em;
    /* color: rgb(210, 80, 128); */
    color: #fff;
}

.header {
    font-size: 2em;
    /* color: rgb(90, 174, 171); */
    color: #fff;
}

.success {
    font-size: 1.2em;
    color: green;
}

.error {
    font-size: 1.2em;
    color: red;
}